DB_FILE_NAME="file:local.db"

AUTH_SECRET="" # Added by `npx auth`. Read more: https://cli.authjs.dev

# https://authjs.dev/getting-started/providers/discord
AUTH_DISCORD_ID=""
AUTH_DISCORD_SECRET=""

# https://authjs.dev/getting-started/providers/github
AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET=""